<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046951847815-gdvig9cbaka0vdn17258trf508kbeonc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046951847815-gdvig9cbaka0vdn17258trf508kbeonc</string>
	<key>API_KEY</key>
	<string>AIzaSyBTAWWFpeTHL3RIAb-Ohu4kF29CndoB4iA</string>
	<key>GCM_SENDER_ID</key>
	<string>1046951847815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>so.cleanly</string>
	<key>PROJECT_ID</key>
	<string>cleanly-firebase-crud</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanly-firebase-crud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046951847815:ios:4022b680599955c8e65522</string>
</dict>
</plist>